/*Debug*/

.debug {

    header {

        .menu {
            background-color: gray;
        }

        .menu div {
            background-color: orange;
            padding: 10px;
        }

        input {
            background-color: purple;
        }

        li {
            background-color: green;
        }

        .genre {
            background-color: lightgray;
        }
    }

    main {

        background-color: red;

        .col-left {
            background-color: blue;
            min-height: 600px;
        }

        .col-right {
            background-color: aqua;
            min-height: 600px;
        }

        .album-col {
            background-color: firebrick;
            min-height: 150px;
        }
    }
}


/*Generics*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --bcg-primary: #222222;
    --bcg-secondary: #2b2b2b;
    --searchbar: #464646;
    --searchbar-text: #9ea5a0;
}

img {
    max-width: 100%;
}



/*Utilities*/

.d-flex {
    display: flex;
}

.container {
    width: 95%;
    margin: 0 auto;
}

.searchbar {
    position: relative;
    color: var(--searchbar-text);

    div {
        position: absolute;
        left: 1rem;
        top: 2px;
    }
}

ul {
    list-style: none;

    a {
        color: white;
    }
}

a {
    text-decoration: none;
    color: black;
}

input {
    background-color: var(--searchbar);
    border: 0px;
    color: var(--searchbar-text);
}

.play-button {
    color: white;
    background-color: var(--bcg-primary);
    border-radius: 50%;
    padding: 0.8rem;
}

/*Grid Utilities*/

.col-left {
    width: 100%;
}

.row {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.album-col {
    width: 45%;
    margin-bottom: 2rem;

}

.col-right {
    width: 35%;
    padding-left: 1rem;
    border-left: 3px solid var(--bcg-secondary);
    display: none;

}


/*Header*/

.menu {
    background-color: var(--bcg-primary);
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

    .big-logo {
        display: none;
    }

    img {
        padding-right: 0.5rem;
    }

    .left-menu {
        align-items: center;
    }

    .searchbar {
        display: none;
    }

    ul {
        gap: rem;

        a {
            padding: 0.5rem;
        }
    }

    .search {
        padding: 0.3rem 2rem;
        font-family: FontAwesome;
    }

    a:hover {
        background-color: var(--bcg-secondary);
        text-decoration: underline;
    }
}

.genre {
    background-color: var(--bcg-secondary);
    padding: 0.5rem 1rem;

    .searchbar {

        div {
            top: 4px;
        }

        .search {
            width: 100%;
            padding: 0.4rem;
            border: 1px solid var(--searchbar-text);
            border-radius: 30px;
        }

    }
}

/*Main*/

main {
    background-color: var(--bcg-primary);
}

.col-left {
    padding-top: 1.5rem;

    h4 {
        font-size: 0.9rem;
        color: white;
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .tag {
        color: var(--searchbar-text);
        font-size: 0.9rem;
    }

    img {
        border: 2px solid var(--bcg-secondary);
    }

    .album-col div {
        position: relative;
    }

    .album-col .play-button {
        position: absolute;
        bottom: 1.5rem;
        left: 1rem;
        display: none;

        &:hover {
            background-color: var(--bcg-secondary);
        }
    }

    .album-col:hover {

        .play-button {
            display: block;
        }

        img {
            border: 2px solid var(--bcg-primary);
        }
    }

}

.col-right {

    img {
        margin-bottom: 3rem;
    }

    .current-album {
        align-items: flex-start;

        h5{
            font-size: 1.1rem;
        }
    }

    .current-playing {
        font-size: 2.4rem;
        color: black;
        background-color: white;
    }
}