/*Debug*/

.debug {

    header {

        .menu {
            background-color: gray;
        }

        .menu div {
            background-color: orange;
            padding: 10px;
        }

        input {
            background-color: purple;
        }

        li {
            background-color: green;
        }

        .genre {
            background-color: lightgray;
        }
    }

    main {

        background-color: red;

        .col-left {
            background-color: blue;
            min-height: 600px;
        }

        .col-right {
            background-color: aqua;
            min-height: 600px;
        }

        .album-col {
            background-color: firebrick;
            min-height: 150px;
        }
    }
}


/*Generics*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}



/*Utilities*/

.d-flex {
    display: flex;
}

.container {
    width: 95%;
    margin: 0 auto;
}


/*Header*/

.menu {
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

    img {
        padding-right: 0.5rem;
    }

    .left-menu {
        align-items: center;
    }

    ul {
        gap: 1rem;
    }
}

.genre {
    padding: 0.5rem 1rem;
}

/*Main*/

.discover {

    .col-left {
        width: 100%;
    }

    .row{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .album-col {
        width: 45%;
        margin-bottom: 1rem;
        
    }

    .col-right {
        display: none;
    }


}